<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div layout:fragment="content">

	<div>
		<div class="search-bar">
			<form class="plr-5" th:action="${#request.getRequestURI()}" method="get" >
				<input type="text" name="search" id="search" placeholder="Ricerca" th:value="${search}" th:placeholder="#{common.search}"/>
				<button class="btn-primary" type="Submit" th:text="#{common.search}">Cerca</button>
			</form>
		</div>

		<h1 th:text="${region}">Regione</h1>
	</div>
	<div class="column" th:each="gym : ${gymList}">
		<div class="card">
			<img class="card-img-top" src="./testo.jpeg" th:src="@{${'/upload/gym/' + gym.id + '/' + gym.id + '.jpeg'}}" alt="Card image cap" height="100px" width="100px">

			<h3 th:text="${gym.name}"></h3>
			<h4 th:text="${gym.province}"></h4>
			<h4 th:text="${gym.address}"></h4>

			<a th:href="@{/favoriteGym/create/{gymId}(gymId=${gym.id})}" sec:authorize="hasAuthority('CUSTOMER')"><button class="btn-primary" th:text="#{favorite.add}" >Aggiungi ai preferiti!</button></a>
			<a th:href="@{/feedback/create/{gymId}(gymId=${gym.id})}" sec:authorize="hasAuthority('CUSTOMER')"><button class="btn-primary" th:text="#{feedback.gym.add}">Recensisci Palestra</button></a>
			<a th:href="@{/chat(idGym=${gym.id})}" sec:authorize="!hasAnyAuthority('MANAGER')"><button class="btn-primary" th:text="#{chat.message.send}">Invia Messaggio</button></a>
			<a th:href="@{/course/gym/{gymId}(gymId=${gym.id})}"><button class="btn-primary" th:text="#{gym.show.courses}">Vai ai corsi</button></a>
			<a th:href="@{/gym/update/{gymId}(gymId=${gym.id})}" sec:authorize="hasAuthority('MANAGER')"><button class="btn-primary" th:text="#{common.edit}">Modifica</button></a>
			<a th:href="@{/gym/delete/{gymId}(gymId=${gym.id})}" sec:authorize="hasAuthority('MANAGER')"><button class="btn-primary" th:text="#{common.delete}">Elimina</button></a>
			</div>
	</div>
</div>
</body>
</html>

