<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">

		<h1 th:text="${region}"></h1>
		<div class="column" th:each="gym : ${gymList}">
			<div class="card">
				<h3 th:text="${gym.name}"></h3>
				<h4 th:text="${gym.province}"></h4>
				<h4 th:text="${gym.address}"></h4>

				<button class="btn-primary">Aggiungi ai preferiti!</button>
				<button class="btn-primary">Lascia una recensione</button>
				<a th:href="@{/course/gym(id=${gym.id})}"><button class="btn-primary">Vai ai corsi</button></a> <a href="/gymportal/gym/update">
				<button class="btn-primary">Modifica</button></a>
				<button class="btn-primary">Elimina</button>


			</div>
		</div>
	</div>
</body>
</html>

