<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">
	<div class="row">
		<div class="col-12">

			<form autocomplete="off" action="#" th:action="${#request.getRequestURI()}" th:object="${message}" method="post" role="form">

				<div class="form-group has-feedback">
					<label class="validation-message"></label>
					<input type="text" placeholder="message" class="form-control" th:field="*{text}" />

					<input type="hidden" class="form-control" th:field="*{gym_id}" th:value="*{gym_id}" />

				</div>
				
				
				
				<div class="row">

					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">invia</button>

					</div>
					<!-- /.col -->
				</div>

			</form>



		</div>
	</div>
</div>
</body>
</html>
