<!DOCTYPE html>
<html th:with="region=${region}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header class="main-header" th:fragment="footer">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/gymportal" class="navbar-brand"><b>Gym Portal</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
   
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<!-- Messages: style can be found in dropdown.less-->


							<!-- Notifications Menu -->

							<!-- Tasks Menu -->

							<!-- User Account Menu -->
							
							<li class="dropdown user user-menu" sec:authorize="hasAuthority('gestore')">
								 <a href="/gymportal/gym/create">Aggiungi Palestra</a>
							</li>
							
							<li class="dropdown user user-menu" sec:authorize="hasAuthority('gestore')">
								 <a href="/gymportal/course/create">Aggiungi Corso</a>
							</li>
							
							<li class="dropdown user user-menu">
								 <a href="/gymportal/login" sec:authorize="!hasAnyAuthority('utente','gestore')">Login</a>
							</li>
							
							
							<li class="dropdown user user-menu">
								 <a href="/gymportal/registration" sec:authorize="!hasAnyAuthority('utente','gestore')">Registrazione</a>
							</li>
							
							<li class="dropdown user user-menu">
								 <a href="/gymportal/profile" sec:authorize="hasAnyAuthority('utente','gestore')" >Profilo</a>
							</li>
							
							<li class="dropdown user user-menu">
								 <form th:action="@{/logout}" method="get">
        								<a><button  name="registration" type="Submit">Logout</button></a>
    							 </form>
							</li>
						</ul>
					</div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    
  </header>
</body>
</html>