<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<header class="main-header" th:fragment="footer">
			<nav class="navbar navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<a href="/gymportal" class="navbar-brand"><b>Gym Portal</b></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->

					<!-- /.navbar-collapse -->
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<!-- Messages: style can be found in dropdown.less-->

							<!-- Notifications Menu -->
							<!-- Lang Menu -->
							<li class="dropdown notifications-menu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i th:classappend="'flag-icon flag-icon-'+ (${#locale.language}=='en' ? 'gb' : ${#locale.language})"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu">
											<li>
												<a href="#" th:href="@{?lang=en}" >
													<i class="flag-icon flag-icon-gb mr-5"></i> [[#{common.english}]]
												</a>
											</li>
											<li>
												<a href="#" th:href="@{?lang=it}" >
													<i class="flag-icon flag-icon-it mr-5"></i> [[#{common.italian}]]
												</a>
											</li>

										</ul>
									</li>
								</ul>
							</li>

							<!-- User Account Menu -->
							<li class="dropdown user user-menu" sec:authorize="hasAuthority('gestore')">
								<a href="/gymportal/gym/create" th:text="#{manager.gym.add}" >Aggiungi Palestra</a>
							</li>

							<li class="dropdown user user-menu" sec:authorize="hasAuthority('gestore')">
								<a href="/gymportal/course/create" th:text="#{manager.course.add}" >Aggiungi Corso</a>
							</li>

							<li class="dropdown user user-menu" sec:authorize="hasAnyAuthority('utente','gestore')">
								<a href="/gymportal/login" th:href="@{/chat}" th:text="#{header.chat}" >Chat</a>
							</li>

							<li class="dropdown user user-menu" sec:authorize="!hasAnyAuthority('utente','gestore')">
								<a href="/gymportal/login" th:text="#{common.login}" >Login</a>
							</li>

							<li class="dropdown user user-menu" sec:authorize="!hasAnyAuthority('utente','gestore')">
								<a href="/gymportal/registration" th:text="#{common.registration}" >Registrazione</a>
							</li>
							<li class="dropdown user user-menu" sec:authorize="hasAnyAuthority('utente','gestore')">
								<a href="/gymportal/profile" th:text="#{common.profile}" >Profilo</a>
							</li>

							<li class="dropdown user user-menu" sec:authorize="hasAnyAuthority('utente','gestore')">
								<form th:action="@{/logout}" method="get">
									<a><button class="bottonelogout"  name="registration" type="Submit" th:text="#{common.logout}" >Logout</button></a>
								</form>
							</li>
						</ul>
					</div>
					<!-- /.navbar-custom-menu -->
				</div>
				<!-- /.container-fluid -->
			</nav>

		</header>
	</body>
</html>