<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">

<script th:inline="javascript">
  $(document).ready(function () {
    //Datemask dd/mm/yyyy
    $('#dataNascita').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
  });
</script>

<div class="row">
<div class="col-12">
	<div class="card card-info">
		<div class="card-header"><h3 class="card-title" th:text="#{profilo.titolo}"></h3></div>
		<form class="form-horizontal" th:action="@{/common/profilo}" th:object="${profilo}" method="post">
		  <div class="card-body">
	  	    <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                 </div>
                 <input type="email" th:field="*{email}" class="form-control" required maxlength="100">
            </div>		  	
	  	    <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fas fa-phone"></i></span>
                 </div>
                 <input type="tel" th:field="*{telefono}" class="form-control" required>                 
            </div>
	  	    <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="far fa-address-card"></i></span>
                 </div>
                 <input type="text" th:field="*{codiceFiscale}" class="form-control" required maxlength="16">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              </div>
              <input type="text" th:field="*{dataNascita}" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask required>
            </div>            
		  </div>
		  <div class="card-footer">
			<button type="submit" class="btn btn-info" th:text="#{common.submit}"></button>
			<a href="#" th:href="@{/common/welcome}" class="btn btn-default float-right" th:text="#{common.cancel}"></a>	
		  </div>
		</form>
	</div>
</div>
</div>
</div>
</body>
</html>
