<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
	<H1 th:text="#{feedback.add}">Aggiungi Recensione</H1>
		<div class="box box-info" id="form-orizzontale">

			<form class="form-horizontal" method="post" th:action="@{/feedbackCourse/create/{courseId}(courseId=${course.id})}" th:object="${feedbackCourse}">

				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{version}" />

				<input type="hidden" th:value="${user.id}" th:attr="name='user.id'" />
				<input type="hidden" th:value="${course.id}" th:attr="name='course.id'" />

				<div class="box-body">
					<div class="form-group">
						<label for="feed" class="col-sm-2 control-label" th:text="#{feedback.feed}" >Feed
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="feed"
								   placeholder="Descrizione" th:placeholder="#{feedback.feed}" th:field="*{feed}">
						</div>
					</div>
					<div class="form-group">
						<label for="rating" class="col-sm-2 control-label" th:text="#{feedback.rating} + ' ' + #{feedback.rating.placeholder}" >Rating 1-10
						</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="rating" min="0" max="5"
								   placeholder="1-5" th:placeholder="#{feedback.rating.placeholder}" th:field="*{rating}">
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right" th:text="#{common.create}">Aggiungi Recensione</button>
				</div>
				<h1 th:text="${message}"></h1>
				<!-- /.box-footer -->
			</form>
		</div>
	</div>
</body>
</html>
