<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
	<H1 th:text="#{courseSchedules.add}">Aggiungi Orario</H1>
		<div class="box box-info" id="form-orizzontale">

			<form th:action="${#request.getRequestURI()}" th:object="${courseSchedules}" enctype="multipart/form-data"
				class="form-horizontal" method="post">

				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{version}" />

				<div class="box-body">
					<div class="form-group">
						<label for="day" class="col-sm-2 control-label" th:text="#{courseSchedules.day}">Giorno del corso</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="day" th:field="*{day}"
								placeholder="Giorno" th:placeholder="#{courseSchedules.day}">
						</div>
					</div>
					<div class="form-group">
						<label for="start" class="col-sm-2 control-label" th:text="#{courseSchedules.start}">Orario inizio corso</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="start" th:field="*{start}"
								placeholder="Inizio" th:placeholder="#{courseSchedules.start}">
						</div>
					</div>
					<div class="form-group">
					<label for="end" class="col-sm-2 control-label" th:text="#{courseSchedules.end}">Orario fine corso</label>

					<div class="col-sm-10">
						<input type="text" class="form-control" id="end" th:field="*{start}"
							   placeholder="Fine" th:placeholder="#{courseSchedules.start}">
					</div>
				</div>
					<div class="form-group">
						<label for="courseId" class="col-sm-2 control-label" th:text="#{courseSchedules.select.course}" >Seleziona Corso</label>

						<div class="col-sm-10">
							<select id="courseId" th:field="*{course.id}"
								class="form-control">
								<option th:each="course : ${courses}" th:value="${course.id}"
									th:text="${course.gym.name} +' - '+${course.name}"></option>
							</select>
						</div>
					</div>
				</div>

				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right" th:text="#{courseSchedules.add}">Aggiungi Orario</button>
				</div>
				<div class="alert alert-success" role="alert" th:text="${message}" th:if="${message}"></div>

				<!-- /.box-footer -->
			</form>
		</div>
	</div>
</body>
</html>





