<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<div layout:fragment="content">

	<div class="row">
		<div class="col-12">
			<section class="content">

				<div class="row">
					<div class="col-md-3">
						<!-- Profile Image -->
							<!-- /.box-body -->
								<div class="card" style="width: 18rem;">
									<img class="card-img-top" src="./testo.jpeg" th:src="@{${'/upload/user/' + user.id + '/' + user.id + '.jpeg'}}" alt="Card image cap" height="100px" width="100px">
									<div class="card-body">
										<h5 class="card-title" th:text="${user.name}">Card title</h5>
										<h5 class="card-title" th:text="${user.username}">Card title</h5>
										<h5 class="card-title" th:text="${user.email}">Card title</h5>
										<a th:href="@{/profile/update}"><b th:text="#{profile.edit}">Modifica Profilo</b></a>
									</div>
								</div>
								<!--<div class="profile-usermenu">
									<ul class="nav">
										<li><h4>Email</h4></li>
										<li></li>
										<li><h5 th:text="${user.email}"></h5></li>
										<li><h4>Username</h4></li>
										<li><h5 th:text="${user.username}">aaaaaa@gmail.com</h5></li>
										<li><a th:href="@{/profile/update}"><b th:text="#{profile.edit}">Modifica Profilo</b></a></li>
									</ul>
								</div>-->
						<!-- /.box -->
					</div>
					<!-- /.col -->
					<div class="col-md-9">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#activity" data-toggle="tab" th:text="#{favorites}">Preferiti</a></li>
								<li><a href="#timeline" data-toggle="tab" th:text="#{feedbacks}">Recensioni</a></li>
							</ul>
							<div class="tab-content">
								<div class="active tab-pane" id="activity">
									<!-- Post -->
									<span class="username">
											<h3 th:text="#{courses}">Corsi</h3>
										</span>
									<div class="post" th:each="favoriteCourse : ${favoriteCourseList}">
										<div class="user-block">
											<span class="username"> <a href="#" th:text="#{course}+': '+${favoriteCourse.course.name}">Zumba Fitness</a></span>
											<span class="description"> <a href="#" th:text="#{gym}+': '+${favoriteCourse.course.gym.name}">Sagittario</a></span>
											<a th:href="@{/favoriteCourse/delete/{favoriteCourseId}(favoriteCourseId=${favoriteCourse.id})}" class="btn btn-default float-right" id="eliminadestra" th:text="#{common.delete}">Elimina</a>
										</div>
									</div>

									<span class="username">
											<h3 th:text="#{gyms}">Palestre</h3>
										</span>
									<div class="post" th:each="favoriteGym : ${favoriteGymList}">
										<div class="user-block">
											<span class="username"> <a href="#" th:text="#{gym}+': '+${favoriteGym.gym.name}">Sagittario</a></span>
											<span class="description" th:text="#{gym.address}+': '+${favoriteGym.gym.address}"> villa rasicci, Bellante64020 TE </span>
											<a th:href="@{/favoriteGym/delete/{favoriteGymId}(favoriteGymId=${favoriteGym.id})}" class="btn btn-default float-right" id="eliminadestra" th:text="#{common.delete}">Elimina</a>
										</div>
									</div>

								</div>

								<!-- /.tab-pane -->
								<div class="tab-pane" id="timeline">
									<div class="row" th:if="${!feedbackCourseList.isEmpty()}" >

										<h3 th:text="#{courses}">Corsi</h3>

										<!-- The timeline -->
										<div class="col-md-4"
											 th:each="feedbackCourse : ${feedbackCourseList}">
											<!-- Widget: user widget style 1 -->
											<div class="box box-widget widget-user-2">
												<!-- Add the bg color to the header using any of the bg-* classes -->
												<div class="widget-user-header bg-yellow">
													<div class="widget-user-image">
														<img class="img-circle" src="./dist/img/user7-128x128.png" th:src="@{${'./dist/img/' + user.username + '/' + user.username + '.jpeg'}}"
															 alt="User Avatar">
													</div>
													<!-- /.widget-user-image -->
													<h3 class="widget-user-username" th:text="${user.name}">Nadia Carmichael</h3>
												</div>
												<div class="box-footer">
													<ul class="nav nav-stacked">
														<h4 th:text="#{gym}+': '+${feedbackCourse.course.gym.name}"></h4>
														<h4 th:text="#{course}+': '+${feedbackCourse.course.name}"></h4>
														<h4 th:text="#{feedback.rating}+': '+${feedbackCourse.rating}"></h4>
														<h4 th:text="#{feedback.feed}+': '+${feedbackCourse.feed}"></h4>
													</ul>
												</div>
												<div class="box-footer no-padding">
													<a th:href="@{/feedbackCourse/update/{feedbackCourseId}(feedbackCourseId=${feedbackCourse.id})}" class="btn btn-default float-left" th:text="#{common.edit}">Modifica</a>
													<a th:href="@{/feedbackCourse/delete/{feedbackCourseId}(feedbackCourseId=${feedbackCourse.id})}" class="btn btn-default float-right" id="eliminadestra" th:text="#{common.delete}">Elimina</a>
												</div>
											</div>
											<!-- /.widget-user -->
										</div>
									</div>
									<div class="row" th:if="${!feedbackGymList.isEmpty()}" >

										<h3 th:text="#{gyms}">Palestre</h3>

										<div class="col-md-4"
											 th:each="feedbackGym : ${feedbackGymList}">
											<!-- Widget: user widget style 1 -->
											<div class="box box-widget widget-user-2" >
												<!-- Add the bg color to the header using any of the bg-* classes -->
												<div class="widget-user-header bg-yellow">
													<div class="widget-user-image">
														<img class="img-circle" src="./dist/img/user7-128x128.png" th:src="@{${'./dist/img/' + user.username + '/' + user.username + '.jpeg'}}"
															 alt="User Avatar">
													</div>
													<!-- /.widget-user-image -->
													<h3 class="widget-user-username" th:text="${user.name}">Nadia Carmichael</h3>
												</div>
												<div class="box-footer">
													<ul class="nav nav-stacked">
														<h4 th:text="#{gym}+': '+${feedbackGym.gym.name}"></h4>
														<h4 th:text="#{feedback.rating}+': '+${feedbackGym.rating}"></h4>
														<h4 th:text="#{feedback.feed}+': '+${feedbackGym.feed}"></h4>
													</ul></div>
												<div class="box-footer no-padding">
													<a th:href="@{/feedback/update/{feedbackGymId}(feedbackGymId=${feedbackGym.id})}" class="btn btn-default float-left" th:text="#{common.edit}">Modifica</a>
													<a th:href="@{/feedback/delete/{feedbackGymId}(feedbackGymId=${feedbackGym.id})}" class="btn btn-default float-right" id="eliminadestra" th:text="#{common.delete}">Elimina</a>
												</div>
											</div>
											<!-- /.widget-user -->
										</div>

									</div>


								</div>


								<!-- /.tab-pane -->

								<!-- /.tab-pane -->
							</div>
							<!-- /.tab-content -->
						</div>
						<!-- /.nav-tabs-custom -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

			</section>

		</div>
	</div>
</div>
</body>
</html>