<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
<style>
input[name="c4l-rating"] {
	display: none;
}

input[name="c4l-rating"]+label:after {
	content: none;
}

input[name="c4l-rating"]+label {
	font-family: 'FontAwesome';
}

input[name="c4l-rating"]+label:before {
	background-color: transparent;
	border: none !important;
	color: #ffc107;
	content: '\f005';
	font-size: 1.33333333em;
	transition: none;
}

input[name="c4l-rating"]:checked ~ label:before {
	background-color: transparent;
	border: none !important;
	color: #607d8b;
}

input[name="c4l-rating"]:checked+label:before {
	color: #ffc107;
}

input[name="c4l-rating"]+label:hover ~ input+label:before {
	opacity: 0.6;
}

/* Demo style only */
.demo-content {
	margin-bottom: 70px;
	text-align: center;
}

/* Credits */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300' );

.credits {
	background: #F3F5F6;
	border: solid 1px #CFD6D9;
	bottom: 40px;
	left: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 1000;
}

.btn-credits {
	border: 2px solid #33b5e5;
	border-radius: 10em;
	color: #33b5e5 !important;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: .8rem;
	line-height: 1.25;
	padding: .85rem 2.13rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: .2s ease-out;
	vertical-align: middle;
}

.btn-credits:hover {
	background-color: #33b5e5;
	color: #fff !important;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-12">
				<section class="content">

					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="box box-primary">
								<!-- /.box-body -->
								<div class="profile-sidebar">
									<!-- SIDEBAR USERPIC -->
									<div class="widget-user-image">
										<img class="img-circle"
											src="static/dist/img/user7-128x128.jpg" alt="User Avatar">
									</div>
									<!-- END SIDEBAR USERPIC -->
									<!-- SIDEBAR USER TITLE -->
									<div class="profile-usertitle">
										<div class="profile-usertitle-name">
											<h3>Marcus Doe</h3>
										</div>
										<div class="profile-usertitle-job">
											<h5>Developer</h5>
										</div>
									</div>
									<div class="profile-usermenu">
										<ul class="nav">
											<li class="active"><a href="#"> <i
													class="glyphicon glyphicon-home"></i> Overview
											</a></li>
											<li><a href="#"> <i class="glyphicon glyphicon-user"></i>
													Account Settings
											</a></li>
											<li><a href="#" target="_blank"> <i
													class="glyphicon glyphicon-ok"></i> Tasks
											</a></li>
											<li><a href="#"> <i class="glyphicon glyphicon-flag"></i>
													Help
											</a></li>
										</ul>
									</div>
								</div>

							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#activity" data-toggle="tab">Preferiti</a></li>
									<li ><a href="#timeline" data-toggle="tab">Recensioni</a></li>
									<li ><a href="#settings" data-toggle="tab">Modifica Profilo</a></li>
								</ul>
								<div class="tab-content">
									<div class="active tab-pane" id="activity">
										<!-- Post -->
										<span class="username"> <h3>Corsi</h3></span>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Zumba Fitness</a>
												</span> <span class="description"><a href="#">Sagittario</a>
													 </span>
											</div>
										</div>

										<!-- Post -->
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Pilates</a>
												</span> <span class="description"><a href="#">Sagittario</a>
												</span>
											</div>
										</div>
										<!-- /.post -->

									
									<span class="username"> <h3>Palestre</h3></span>
									<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Sagittario</a>
												</span> <span class="description">
													villa rasicci, Bellante 64020 TE </span>
											</div>
										</div>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Sagittario</a>
												</span> <span class="description">
													villa rasicci, Bellante 64020 TE </span>
											</div>
										</div>
									</div>
									
									<!-- /.tab-pane -->
									<div class="tab-pane" id="timeline">
										<!-- The timeline -->
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Zumba Fitness</a>
												</span> <span class="description"><a href="#">Sagittario</a>
													villa rasicci, Bellante 64020 TE </span>
														<span class="username">Valutazione</span>
														<div class="username">
														<div class="c4l-rating">
															<input name="c4l-rating" type="radio" 
																value="1" /> <label for="c4l-rate1"></label> <input
																name="c4l-rating" type="radio"  value="2" />
															<label for="c4l-rate2"></label> <input name="c4l-rating"
																type="radio"  value="3" /> <label
																for="c4l-rate3"></label> <input name="c4l-rating"
																type="radio"  value="4" /> <label
																for="c4l-rate4"></label> <input name="c4l-rating"
																type="radio"  value="5" checked /> <label
																for="c4l-rate5"></label>
														</div>
													</div>
													<span class="username">Recensione</span>
													<div class="username">
													<textarea placeholder="Recensione"></textarea>
													</div>
											</div>
										</div>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Pilates</a>
												</span> <span class="description"><a href="#">Sagittario</a>
													villa rasicci, Bellante 64020 TE </span>
														<span class="username">Valutazione</span>
														<div class="username">
														<div class="c4l-rating">
															<input name="c4l-rating" type="radio"  value="1" /> <label for="c4l-rate1"></label> 
															<input name="c4l-rating" type="radio"  value="2" /> <label for="c4l-rate2"></label>
															<input name="c4l-rating" type="radio"  value="3" /> <label for="c4l-rate3"></label> 
															<input name="c4l-rating" type="radio"  value="4" /> <label for="c4l-rate4"></label> 
															<input name="c4l-rating" type="radio"  value="5" /> <label for="c4l-rate5"></label>		
														</div>
													</div>
													<span class="username">Recensione</span>
													<div class="username">
													<textarea placeholder="Recensione"></textarea>
													</div>
											</div>
										</div>
														
											</div>

									<!-- /.tab-pane -->

									<div class="tab-pane" id="settings">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Name</label>

												<div class="col-sm-10">
													<input type="text" class="form-control" 
														placeholder="Name">
												</div>
											</div>
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Surname</label>

												<div class="col-sm-10">
													<input type="text" class="form-control" 
														placeholder="surname">
												</div>
											</div>
											<div class="form-group">
												<label for="inputEmail" class="col-sm-2 control-label">Email</label>

												<div class="col-sm-10">
													<input type="email" class="form-control" 
														placeholder="Email">
												</div>
											</div>
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Username</label>

												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="Username">
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<div class="checkbox">
														<label> <input type="checkbox"> I agree to
															the <a href="#">terms and conditions</a>
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<button type="submit" class="btn btn-danger">Submit</button>
												</div>
											</div>
										</form>
									</div>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div>
							<!-- /.nav-tabs-custom -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

				</section>

			</div>
		</div>
	</div>
</body>
</html>
