<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-12">
				<section class="content">

					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="box box-primary">
								<!-- /.box-body -->
								<div class="profile-sidebar">
									<div class="profile-usertitle">
										<div class="profile-usertitle-name">
											<h1 th:utext="${user.name}"></h1>
										</div>
									</div>
									<div class="profile-usermenu">
										<ul class="nav">
											<li><h4>Email</h4></li>
											<li><h5 th:utext="${user.email}"></h5></li>
											<li><h4>Username</h4></li>
											<li><h5 th:utext="${user.userName}">aaaaaa@gmail.com</h5></li>

										</ul>
									</div>
								</div>

							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#activity" data-toggle="tab">Preferiti</a></li>
									<li><a href="#timeline" data-toggle="tab">Recensioni</a></li>
									<li><a href="#settings" data-toggle="tab">Modifica
											Profilo</a></li>
								</ul>
								<div class="tab-content">
									<div class="active tab-pane" id="activity">
										<!-- Post -->
										<span class="username">
											<h3>Corsi</h3>
										</span>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Zumba Fitness</a>
												</span> <span class="description"><a href="#">Sagittario</a>
												</span>
											</div>
										</div>

										<!-- Post -->
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Pilates</a>
												</span> <span class="description"><a href="#">Sagittario</a>
												</span>
											</div>
										</div>
										<!-- /.post -->


										<span class="username">
											<h3>Palestre</h3>
										</span>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Sagittario</a>
												</span> <span class="description"> villa rasicci, Bellante
													64020 TE </span>
											</div>
										</div>
										<div class="post">
											<div class="user-block">
												<span class="username"> <a href="#">Sagittario</a>
												</span> <span class="description"> villa rasicci, Bellante
													64020 TE </span>
											</div>
										</div>
									</div>

									<!-- /.tab-pane -->
									<div class="tab-pane" id="timeline">
										<!-- The timeline -->

										<div class="col-md-4" th:each="feedbackCourse : ${feedbackCourseList}">
											<!-- Widget: user widget style 1 -->
											<div class="box box-widget widget-user-2">
												<!-- Add the bg color to the header using any of the bg-* classes -->
												<div class="widget-user-header bg-yellow">
													<div class="widget-user-image">
														<img class="img-circle"
															src="./dist/img/user7-128x128.png" alt="User Avatar">
													</div>
													<!-- /.widget-user-image -->
													<h3 class="widget-user-username"
														>Nadia Carmichael</h3>
												</div>
												<div class="box-footer no-padding">
													<ul class="nav nav-stacked">
													    <h4 th:text="'Palestra: '+${feedbackCourse.course.gym.name}"></h4>
														<h4 th:text="'Recensione del corso: '+${feedbackCourse.course.name}"></h4>
														<h4 th:text="'Valutazione: '+${feedbackCourse.rating}"></h4>
														<h4 th:text="'Recenzione: '+${feedbackCourse.feed}"></h4>
														
													</ul>
												</div>
											</div>
											<!-- /.widget-user -->
										</div>
										<br>
					
										<div class="col-md-4" th:each="feedbackGym : ${feedbackGymList}">
											<!-- Widget: user widget style 1 -->
											<div class="box box-widget widget-user-2">
												<!-- Add the bg color to the header using any of the bg-* classes -->
												<div class="widget-user-header bg-yellow">
													<div class="widget-user-image">
														<img class="img-circle"
															src="./dist/img/user7-128x128.png" alt="User Avatar">
													</div>
													<!-- /.widget-user-image -->
													<h3 class="widget-user-username"
														>Nadia Carmichael</h3>
												</div>
												<div class="box-footer no-padding">
													<ul class="nav nav-stacked">
													    <h4 th:text="'Palestra: '+${feedbackGym.gym.name}"></h4>
													    <h4 th:text="'Valutazione: '+${feedbackGym.rating}"></h4>
														<h4 th:text="'Recenzione: '+${feedbackGym.feed}"></h4>

													</ul>
												</div>
											</div>
											<!-- /.widget-user -->
										</div>

									</div>

									<!-- /.tab-pane -->

									<div class="tab-pane" id="settings">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Name</label>

												<div class="col-sm-10">
													<input type="text" class="form-control" placeholder="Name">
												</div>
											</div>
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Surname</label>

												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="surname">
												</div>
											</div>
											<div class="form-group">
												<label for="inputEmail" class="col-sm-2 control-label">Email</label>

												<div class="col-sm-10">
													<input type="email" class="form-control"
														placeholder="Email">
												</div>
											</div>
											<div class="form-group">
												<label for="inputName" class="col-sm-2 control-label">Username</label>

												<div class="col-sm-10">
													<input type="text" class="form-control"
														placeholder="Username">
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<div class="checkbox">
														<label> <input type="checkbox"> I agree to
															the <a href="#">terms and conditions</a>
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<button type="submit" class="btn btn-danger">Submit</button>
												</div>
											</div>
										</form>
									</div>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div>
							<!-- /.nav-tabs-custom -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

				</section>

			</div>
		</div>
	</div>
</body>
</html>
