<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
	<H1>Aggiungi Corso</H1>
		<div class="box box-info" id="form-orizzontale">

			<form th:action="${#request.getRequestURI()}" th:object="${course}"
				class="form-horizontal" method="post">
				<input type="hidden" th:field="*{id}" />

				<div class="box-body">
					<div class="form-group">
						<label for="code" class="col-sm-2 control-label" th:text="#{course.code}">Codice Corso</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="code"
								placeholder="Codice" th:field="*{code}">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label" th:text="#{course.name}">Nome corso</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								placeholder="Nome" th:field="*{name}">
						</div>
					</div>
					<div class="form-group">
						<label for="desc" class="col-sm-2 control-label" th:text="#{course.description}">Descrizione</label>

						<div class="col-sm-10">
							<input id="desc"
								placeholder="Massimo 400 caratteri" th:field="*{description}">
						</div>
					</div>
					<div class="form-group">
						<label for="gymId" class="col-sm-2 control-label" th:text="#{course.select.gym}" >Seleziona palestra</label>

						<div class="col-sm-10">
							<select id="gymId" th:field="*{gym.id}"
								class="form-control">
								<option th:each="gym : ${gyms}" th:value="${gym.id}"
									th:text="${gym.name}"></option>
							</select>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-info pull-right" th:text="#{course.add}">Aggiungi Corso</button>
				</div>
				<h1 th:text="${message}"></h1>
				<!-- /.box-footer -->
			</form>
		</div>
	</div>
</body>
</html>





